<div *ngIf="isFetching" class="container loading-container" xmlns="http://www.w3.org/1999/html">
  <app-loading-spinner></app-loading-spinner>
</div>

<h3 *ngIf="!isFetching && tautliners.length === 0" class="mt-5">No tautliners to display</h3>

<div *ngIf="!isFetching && tautliners.length > 0" class="container mt-5">
  <div class="row">
    <div class="col-1"><h3>Totals</h3></div>
    <div class="col-md-3">
      <button class="btn btn-primary btn"
              data-bs-toggle="modal"
              data-bs-target="#modal"
      >Add new XPO tautliner
      </button>
    </div>

    <div id="modal" class="modal fade" data-bs-backdrop="static">
      <div class="modal-dialog modal-dialog-centered modal-fullscreen-md-down">
        <div class="modal-content">
          <div class="modal-header">
            <h2>Add new tautliner</h2>
          </div>
          <div class="modal-body">
            <form *ngIf="!tautlinerAddSuccess" [formGroup]="newXpoTautlinerForm">
              <div class="form-group">
                <label for="plates">Plates:</label>
                <input type="text" id="plates" class="form-control" formControlName="plates"
                       [ngClass]="{'is-valid' : newXpoTautlinerForm.get('plates').valid, 'is-invalid': newXpoTautlinerForm.get('plates').invalid && newXpoTautlinerForm.get('plates').touched}">
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please enter valid plates- no spaces</div>
              </div>
              <div class="form-group">
                <label for="tech">Tech inspection term:</label>
                <input type="date" id="tech" class="form-control" formControlName="techDate">
              </div>
            </form>

            <div *ngIf="tautlinerAddSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>Tautliner was added successfully</strong>
            </div>
            <hr *ngIf="errorMessages || tautlinerAddSuccess">
            <div *ngIf="errorMessages && errorMessages.tautlinerPlates"
                 class="alert alert-danger alert-dismissible fade show" role="alert">
              <p *ngFor="let err of errorMessages.tautlinerPlates"><strong>{{err}}</strong></p>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div *ngIf="errorMessages && errorMessages.techInspection"
                 class="alert alert-danger alert-dismissible fade show" role="alert">
              <p *ngFor="let err of errorMessages.techInspection"><strong>{{err}}</strong></p>
            </div>
          </div>
          <div class="modal-footer">
            <button *ngIf="!tautlinerAddSuccess" type="submit" class="btn btn-success" (click)="onNewXpoTautSubmit()"
                    [disabled]="newXpoTautlinerForm.invalid">Submit
            </button>
            <button *ngIf="!tautlinerAddSuccess" type="button" class="btn btn-warning" (click)="onClear()">Clear
            </button>
            <button type="button" class="btn" data-bs-dismiss="modal"
                    [ngClass]="{'btn-danger' : !tautlinerAddSuccess, 'btn-success' : tautlinerAddSuccess}"
                    (click)="tautlinerAddSuccess = undefined"
            >{{tautlinerAddSuccess ? 'OK' : 'Cancel'}}</button>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col">
        Tautliners: {{tautliners.length}}
      </div>
    </div>
  </div>

  <div class="table-responsive-sm">
    <table class="table mt-5">
      <thead>
      <tr>
        <th>Carrier</th>
        <th>Plates</th>
        <th>Truck</th>
        <th>Tech inspection</th>
      </tr>
      </thead>
      <tbody>
      <tr app-tautliner (tautDeleted)="getTautliners()" [tautliner]="tautliner"
          *ngFor="let tautliner of tautliners"></tr>
      </tbody>
    </table>
  </div>
</div>


