<div class="container-md">
  <div class="row mt-5">
    <div class="col">
      <h3>Change your password</h3>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">{{requestState ? 'Acquire reset-token' : 'Change your password'}}</div>
  </div>
  <div class="row-cols-md-2 mt-2">
    <form *ngIf="requestState" [formGroup]="requestTokenForm">
      <div class="control-group">
        <label>E-mail</label>
        <input type="email" class="form-control" formControlName="email"
               [ngClass]="{'is-valid' : requestTokenForm.get('email').valid, 'is-invalid': requestTokenForm.get('email').invalid && requestTokenForm.get('email').touched}">
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter valid email</div>
      </div>
      <div class="control-group">
        <label>Username</label>
        <input type="text" class="form-control" formControlName="username"
               [ngClass]="{'is-valid' : requestTokenForm.get('username').valid, 'is-invalid': requestTokenForm.get('username').invalid && requestTokenForm.get('username').touched}">
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter your username</div>
      </div>
      <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{error}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <button *ngIf="!isLoading" [disabled]="requestTokenForm.invalid" class="btn btn-primary mt-2"
              (click)="onTokenSendRequest()">Send request
      </button>
      <button *ngIf="isLoading" class="btn btn-success mt-2" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
      </button>
      <button type="button" class="btn btn-primary mt-2 mx-2" (click)="requestState = false; error = undefined">I have a token</button>
    </form>
    <form *ngIf="!requestState" [formGroup]="resetPasswordForm">
      <div class="control-group">
        <label>Username</label>
        <input type="text" class="form-control" formControlName="username"
               [ngClass]="{'is-valid' : resetPasswordForm.get('username').valid, 'is-invalid': resetPasswordForm.get('username').invalid && resetPasswordForm.get('username').touched}">
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter your username</div>
      </div>
      <div class="control-group">
        <label>Token</label>
        <input type="email" class="form-control" formControlName="changePasswordToken"
               [ngClass]="{'is-valid' : resetPasswordForm.get('changePasswordToken').valid, 'is-invalid': resetPasswordForm.get('changePasswordToken').invalid && resetPasswordForm.get('changePasswordToken').touched}">
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter token</div>
      </div>
      <div class="control-group">
        <label>New password</label>
        <input type="email" class="form-control" formControlName="newPassword"
               [ngClass]="{'is-valid' : resetPasswordForm.get('newPassword').valid, 'is-invalid': resetPasswordForm.get('newPassword').invalid && resetPasswordForm.get('newPassword').touched}">
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter valid email</div>
      </div>
      <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{error}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <div *ngIf="passwordChanged" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{'Your password was successfully changed'}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <button *ngIf="!isLoading" [disabled]="resetPasswordForm.invalid" class="btn btn-primary mt-2"
              (click)="onChangePasswordRequest()">Change password
      </button>
      <button *ngIf="isLoading" class="btn btn-success" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
      </button>
      <button type="button" class="btn btn-primary mt-2 mx-2" (click)="requestState = true; error = undefined">Get another token</button>
    </form>
  </div>
</div>
