<div *ngIf="isFetching" class="container loading-container">
  <app-loading-spinner></app-loading-spinner>
</div>

<div *ngIf="!isFetching" class="container mt-5">
  <div class="row">
    <h3>Totals</h3>
    <div class="col">
      Trucks: {{trucks.length}}
    </div>
    <div class="col">
      Mega trucks: {{megas}}
    </div>
    <div class="col">
      dsdda
    </div>
  </div>

  <table class="table mt-5">
    <thead>
    <tr>
      <th>Carrier</th>
      <th>Plates</th>
      <th>Tautliner</th>
      <th>Driver</th>
      <th>Mega</th>
      <th>XPO</th>
    </tr>
    </thead>
    <tbody>
    <tr app-truck [truck]="truck" *ngFor="let truck of trucks"></tr>
    </tbody>
  </table>
</div>
