<ng-container (mouseenter)="copyBtn.hidden = false" (mouseleave)="copyBtn.hidden = true">
  <td [hidden]="carrierMode">
    {{truck.carrierName}}
  </td>
  <td class="position-relative text-center">
    {{truck.truckPlates}}
    <span *ngIf="truck.mega" class="position-absolute top-0 start-95 translate-middle badge rounded-pill bg-success">
    MEGA
  </span>
  </td>
  <td  class="position-relative text-center" [ngClass]="{red : techInspectionDatePast }" [title]="'Tech inspection term: ' + (truck.tautlinerTechInsp | date)">
    {{truck.tautlinerPlates}}
    <span *ngIf="truck.tautlinerIsXpo" class="position-absolute top-0 start-95 translate-middle badge rounded-pill bg-danger">
    XPO
  </span>
  </td>
  <td class="text-center">
    <ng-container *ngIf="truck.driverFullName">{{truck.driverFullName}}</ng-container>
    <ng-container *ngIf="truck.driverTel"> ,mob: {{truck.driverTel}}</ng-container>
    <ng-container *ngIf="truck.driverIdDocument"> ,ID: {{truck.driverIdDocument}}</ng-container>
  </td>
  <td >
    <button #copyBtn class="btn btn-sm btn-primary" (click)="onCopyToClipboard()">Copy</button>
  </td>
</ng-container>

