/* You can add global styles to this file, and also import other style files */
body { padding-top: 70px; }

.app-color-primary {
  color: #f12f2f;
}

.app-color-bg-primary {
  background-color: #f12f2f;
}
