<video class="background-video" preload="auto" onloadedmetadata="this.muted=true" autoplay loop muted>
  <source src="assets/highway.mp4" type="video/mp4">
</video>
<section class="overlay-section"></section>

<span class=" login-button loginBtn"><span><span><a routerLink="/login"></a></span></span></span>
<!-- <button class="login-button">LOL</button> -->
<section class="section-one">
    <h1>Welcome to Planning</h1>
    <h3>we believe simplicity is the key</h3>
</section>
<section class="section-two">
<div class="flex-parent">
  <h2 class="flex-element"><strong><i>Our destiny is to deliver you the solution you need</i></strong></h2>
  <img class="flex-element img-1" src="assets/man-taking-notes.jpg" style="max-width: 500px;" alt="man taking notes">
  <img class="flex-element img-2" src="assets/woman-stickers.webp" style="max-width: 500px;" alt="woman thinking over stickers">
  <h2 class="flex-element"><strong><i>To simplify your daily work</i></strong></h2>
</div>
</section>
<section class="section-three">
<div class="content">
  <div class="cooperate">
    <div class="cooperate-element">
      <h1>Intrested in cooperation?</h1>
      <h3>Feel free to reach us</h3>
    </div>
    <div class="social">
      <ul>
        <li><a href="mailto:piotr.domagalski@yahoo.com">E-mail <i class="fa fa-envelope"></i></a></li>
        <li><a href="https://github.com/piotrekDo" target="_blank">Github <i class="fa fa-github"></i></a></li>
        <li><a href="https://linkedin.com/in/piodom" target="_blank">Linkedin <i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
    <span class="loginBtn"><span><span><a routerLink="/login"></a></span></span></span>
</div>
<div class="footer-dark">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-md-6 item text">
                  <h3>Planning</h3>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt sed voluptatum suscipit aut mollitia temporibus voluptatem quisquam dolorum optio ea, possimus eum quibusdam repellendus rem maiores dolorem quia, vero explicabo?</p>
              </div>
          </div>
          <p class="copyright">Planning © 2022</p>
      </div>
  </footer>
</div>
</section>

