.background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -100;
}

.overlay-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.login-button {
  position: absolute;
  top: 5vh;
  right: 5vw;
  z-index: 20;
}

.loginBtn span {
  position: relative;
  display: inline-flex;
  height: 50px;
  width: 300px;
  perspective: 1000px;
}

.loginBtn span a {
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;

}

.loginBtn span a:before,
.loginBtn span a:after {
  position: absolute;
  content: "Are you our partner already?";
  height: 50px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid wheat;
  box-sizing: border-box;
  border-radius: 5px;
}

.loginBtn span a:after {
  color: wheat;
  content: "Continue to login";
}

.loginBtn span a:before {
  color: wheat;
  background: transparent;
  transform: rotateY(0deg) translateZ(25px);
}

.loginBtn span a:after {
  color: wheat;
  transform: rotateX(90deg) translateZ(25px);
}

.loginBtn span a:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}

.section-one {
  margin: 0;
  color: wheat;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 45vh;
  padding-left: 10vw;
  width: 100%;
  height: 100vh;
  z-index: 10;
}

.section-one h1 {
  font-size: 4.5rem;
}

.section-two {
  position: relative;
  padding-top: 10vh;
  padding-bottom: 10vh;
  margin: 0;
  height: 100vh;
}

.flex-parent {
  padding: 0 15%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: auto;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}

.flex-element {
  // color: wheat;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 2.5rem;
  flex: 1 0 40%;
  align-self: center;
  margin: 0 auto;
  text-align: center;
  opacity: 0.9;
}

.img-1 {
  border-radius: 30px;
  -webkit-box-shadow: 32px 36px 27px 15px rgba(66, 68, 90, 1);
  -moz-box-shadow: 32px 36px 27px 15px rgba(66, 68, 90, 1);
  box-shadow: 32px 36px 27px 15px rgba(66, 68, 90, 1);
}

.img-2{
  border-radius: 30px;
  -webkit-box-shadow: 32px 36px 27px 15px rgba(66, 68, 90, 1);
-moz-box-shadow: 32px 36px 27px 15px rgba(66, 68, 90, 1);
box-shadow: 32px 36px 27px 15px rgba(66, 68, 90, 1);
}

.section-three {
  margin-top: 5vh;
  height: 100vh;
  background: #4F8B89;
  color: wheat;
}

.section-three .content {
  width: 100vw;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 80%;
}

.cooperate {
  padding: 0 3vw;
  width: 100vw;
  display: flex;
  min-height: 45vh;
  justify-items: center;
}

.cooperate img {
  justify-self: flex-start;
}

.cooperate-element {
  padding: 0 3vw;
  align-self: center;
  margin: 0 auto;
  text-align: center;
}

.footer-dark {
  height: 20%;
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}




a {
  color: #fff;
  text-decoration: none;
}
.me {
  width: 400px;
  margin: 90px auto;
}
.me p,
.me h1 {
  letter-spacing: 3px;
  text-align: center;
}
.me p {
  font-weight: 200;
}
.me span {
  font-weight: bold;
}
.social {
  position: absolute;
  left: 5vw;
  top: 220vh;
}
.social ul {
  padding: 0px;
  transform: translate(-270px, 0);
}
.social ul li {
  display: block;
  margin: 5px;
  background: rgba(0, 0, 0, 0.36);
  width: 300px;
  text-align: right;
  padding: 10px;
  border-radius: 0 30px 30px 0;
  transition: all 1s;
}
.social ul li:hover {
  transform: translate(110px, 0);
  background: rgba(255, 255, 255, 0.4);
}
.social ul li:hover a {
  color: #000;
}
.social ul li:hover i {
  color: #fff;
  background: rgba(0, 0, 0, 0.36);
  transform: rotate(360deg);
  transition: all 1s;
}
.social ul li i {
  margin-left: 10px;
  color: #000;
  background: #fff;
  padding: 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 20px;
  background: #ffffff;
  transform: rotate(0deg);
}
