#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

.app-carousel {
  margin-top: 5%;
}

.carousel-item img{
  border-radius: 30px;
  opacity: 0;
}

.app-carousel-item {
  width: 50vw;
  height: 50vh;
}

.form-container {
  height: 100vh;
}
