<video class="background-video" preload="auto" onloadedmetadata="this.muted=true" autoplay loop muted>
  <source src="assets/highway.mp4" type="video/mp4">
</video>
<section class="overlay-section"></section>

<span id="main-section-loginbtn" class="login-button loginBtn"><span><span><a routerLink="/login"></a></span></span></span>
<section class="section-one">
    <h1 id="main-header-text">Welcome to Planning</h1>
    <h3 id="main-header-slogan-text">we believe simplicity is the key</h3>
</section>
<!-- <section class="section-two-container">
  <div id="section-two-panel-0" class="panel"><strong><i>Our destiny is to deliver you the solution you need</i></strong></div>
  <div id="section-two-panel-1" class="panel"><p><strong><i>To simplify your daily work</i></strong></p></div>
</section> -->
<section class="section-three">
<div class="content">
  <div class="cooperate">
    <div class="cooperate-element">
      <h1 id="footer-header">Intrested in cooperation?</h1>
      <h3 id="footer-text">Feel free to reach us</h3>
    </div>
    <div class="social">
      <ul>
        <li class="contact-link"><a href="mailto:piotr.domagalski@yahoo.com">E-mail <i class="fa fa-envelope"></i></a></li>
        <li class="contact-link"><a href="https://github.com/piotrekDo" target="_blank">Github <i class="fa fa-github"></i></a></li>
        <li class="contact-link"><a href="https://linkedin.com/in/piodom" target="_blank">Linkedin <i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
    <span class="loginBtn"><span><span><a routerLink="/login"></a></span></span></span>
</div>
<div class="footer-dark">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-md-6 item text">
                  <h3>Planning</h3>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt sed voluptatum suscipit aut mollitia temporibus voluptatem quisquam dolorum optio ea, possimus eum quibusdam repellendus rem maiores dolorem quia, vero explicabo?</p>
              </div>
          </div>
          <p class="copyright">Planning © {{currentYear}}</p>
      </div>
  </footer>
</div>
</section>

